<div class="jumbotron text-center">
	<h1>Our Philosophy</h1>
	<br/>
	<p class="text-left">
		We believe if you purchase our arrangements for your string ensemble, then you should be able to make as many copies as you need for your group - there is no limit. The key words here are “for your group”. We permit printing and photocopying of the arrangement you purchase, but only for your groups’ needs. It is not permissible for the purchaser to send copies – either digitally or hardcopy – to another party or individual. (Please refer to our Copyright statement at the bottom of the sample scores.)
		<br/><br/><br/>
		Thanks for visiting EasyStringArrangements.com! More arrangements will be added in time. 
			
	</p>
</div>